.search-container {
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;  
    margin-bottom: 20px;
  }
  
  .splash-button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 10px; 
  }
  
  .splash-icon {
    width: 40px;
    height: 50px;
    cursor: pointer;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
  
  .result-card {
    text-align: center;
    color: #fff;
    text-decoration: none;
    opacity: 0; 
    animation: fadeIn 0.5s forwards;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .result-card:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .result-card:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .result-card:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .result-card:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  
  .result-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  